@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Inventory is the raw materials used to produce goods as well as the goods that are available for sale.
    It is classified as a current asset on a company's balance sheet. 
    The three types of inventory include raw materials, work-in-progress, and finished goods.</p>
</main>